# /home/siisi/super/.gitignore

__pycache__/
*.log
venv/
secrets/
odoo/odoo/certs/

config/*.conf
siisi/siisi/config/odoo.conf
siisi/siisi/odoo_pg_pass
siisi/scratch/config/odoo.conf
siisi/scratch/odoo_pg_pass