# /home/siisi/super/.gitignore

__pycache__/
*.log
venv/
secrets/
odoo/odoo/certs/

config/*.conf
odoo/odoo/config/odoo.conf
odoo/odoo/odoo_pg_pass
odoo/scratch/config/odoo.conf
odoo/scratch/odoo_pg_pass
